extends layout

block content
  - var n = 0;
  a(href='/') Back to quiz list

  h1 General statistics
  while n < quizes.length
    .statQuizFrame
      h2= quizes[n].title
      p= quizes[n].intro
      - var k = 0;
      if stats[n].length != 0
        table
          tr
            th 
            th User
            th Score
          while k < stats[n].length
            tr
              td=k+1
              td=stats[n][k].username
              td=stats[n][k].points
            - var k = k+1
      else 
        span No results yet.
      - var n = n+1
