extends layout

block content
  - var n = 0;
  a(href='/') Back to quiz list

  h1 Quiz results
  #quizPoints=`Your score: ${results.points}s`

  .statQuizFrame
    h2#tytulQuizu=quiz.title
    p#wstep=quiz.intro
    div
      while n < questions.length
        div(class=`borderframe ${stats[n].ok ? "greenframe" : "redframe"}`)
          h3
            |!{stats[n].ok ? '&#x2714;' : "&#x2718;"} Question #{n + 1}
          p Question statement: #{questions[n].text}
          if questions[n].avg_time
            p Average time of correct answer: #{Math.floor(questions[n].avg_time / 100)/10}s
          else
            p This question wasn't answered yet!
          p Your answer: #{stats[n].answer}
          p Your time: #{Math.floor(stats[n].timeSpent / 100)/10}s
          if !stats[n].ok
            p=`Correct answer: ${questions[n].answer}`
            p=`Penalty: ${questions[n].penalty}s`
          - var n = n+1
  .statQuizFrame
    h1 Best scores
    - var n = 0;
    if bestResults
      table
        tr
          th 
          th User
          th Score
        while n < bestResults.length
          tr
            td=n+1
            td=bestResults[n].username
            td=bestResults[n].points
          - var n = n+1
    else 
      span No results yet.
